<table with="95%" border="0" align="center" style="margin-top: 0; margin-bottom: 0;" cellspacing="0" cellpadding="0">
  <tr>
    <td>
      <ul>
        <li>
          <a href="/?fragments/error/pad_1">PAD Error Tag</a>
        </li>
        <li>
          <a href="/?fragments/error/pad_2">PAD Error App</a>
        </li>
        <li>
          <a href="/?fragments/error/error_1">Error Tag</a>
        </li>
        <li>
          <a href="/?fragments/error/error_2">Error App</a>
        </li>
        <li>
          <a href="/?fragments/error/warning_1">Warning Tag</a>
        </li>
        <li>
          <a href="/?fragments/error/warning_2">Warning App</a>
        </li>
        <li>
          <a href="/?fragments/error/exception_1">Exception Tag</a>
        </li>
        <li>
          <a href="/?fragments/error/exception_2">Exception App</a>
        </li>
        <li>
          <a href="/?fragments/error/shutdown_1">Shutdown Tag</a>
        </li>
        <li>
          <a href="/?fragments/error/shutdown_2">Shutdown App</a>
        </li>
      </ul>
    </td>
  </tr>
</table>