<p>
  The <code>make</code> tag creates a new item during iteration.
</p>
<h2>
  Make Syntax
</h2>
<pre>{items}
  {make $newField = $value * 2}
{/items}</pre>
<h2>
  Example
</h2>
<pre>{prices}
  {$item}: ${$price}
{/prices}</pre>
<table border="1">
  <tr>
    <th>
      Item
    </th>
    <th>
      Price
    </th>
  </tr>
  <tr>
    <td>
      Apple
    </td>
    <td>
      $1
    </td>
  </tr>
  <tr>
    <td>
      Banana
    </td>
    <td>
      $0.5
    </td>
  </tr>
</table>
<h2>
  Note
</h2>
<p>
  The make tag allows creating computed fields during data iteration.
</p>