<p>The <code>while</code> tag loops while a condition is true.</p>

<h2>Basic While Loop</h2>
<pre>{set $i = 1}
{while $i le 5}
  Item {$i}
  {increment $i}
{/while}</pre>

<ul>

  <li>Item 1</li>
  

  <li>Item 2</li>
  

  <li>Item 3</li>
  

  <li>Item 4</li>
  

  <li>Item 5</li>
  

</ul>

<h2>While with Decrement</h2>
<pre>{set $countdown = 5}
{while $countdown gt 0}
  {$countdown}...
  {decrement $countdown}
{/while}
Liftoff!</pre>

<p>

5...


4...


3...


2...


1...


Liftoff!</p>

<h2>Nested While Loops</h2>
<pre>{set $row = 1}
{while $row le 3}
  {set $col = 1}
  {while $col le 4}
    ({$row},{$col})
    {increment $col}
  {/while}
  {increment $row}
{/while}</pre>
<table border="1">


  <tr>
  
  
    <td>(1,1)</td>
    
  
    <td>(1,2)</td>
    
  
    <td>(1,3)</td>
    
  
    <td>(1,4)</td>
    
  
  </tr>
  

  <tr>
  
  
    <td>(2,1)</td>
    
  
    <td>(2,2)</td>
    
  
    <td>(2,3)</td>
    
  
    <td>(2,4)</td>
    
  
  </tr>
  

  <tr>
  
  
    <td>(3,1)</td>
    
  
    <td>(3,2)</td>
    
  
    <td>(3,3)</td>
    
  
    <td>(3,4)</td>
    
  
  </tr>
  

</table>