/DATA/*
!/DATA/examples/
!/DATA/regression/
!/DATA/reference/
www/DATA
www/wasm/pad-bundle.json
.DS_Store
/.env
/apps/**/.env
!/apps/manual/.env
!/apps/regression/env/.env
!/apps/regression/env/_config/.env
