<p>
  The <code>exception</code> tag throws an exception.
</p>
<h2>
  Syntax
</h2>
<pre>{exception 'Exception message'}</pre>
<h2>
  Conditional Exception
</h2>
<pre>{if $criticalError}
  {exception 'Critical system failure'}
{/if}</pre>
<h2>
  Error vs Exception
</h2>
<table border="1" cellpadding="5">
  <tr>
    <th>
      Tag
    </th>
    <th>
      Behavior
    </th>
  </tr>
  <tr>
    <td>
      {error}
    </td>
    <td>
      Triggers PAD error handling
    </td>
  </tr>
  <tr>
    <td>
      {exception}
    </td>
    <td>
      Throws PHP Exception
    </td>
  </tr>
</table>
<h2>
  Note
</h2>
<p>
  Exceptions can be caught by PHP try/catch blocks.
</p>
<p>
  <i>Not demonstrated to avoid throwing exceptions.</i>
</p>