<p>
  The <code>odd</code> property matches odd iterations (1st, 3rd, 5th, etc.).
</p>
<pre>{users}
  &lt;tr{property:odd} style="background:#e8e8e8"{/property:odd}&gt;
    &lt;td&gt;{$name}&lt;/td&gt;
  &lt;/tr&gt;
{/users}</pre>
<h3>
  Result:
</h3>
<table border="1" cellpadding="5">
  <tr style="background:#e8e8e8">
    <td>
      Alice
    </td>
  </tr>
  <tr>
    <td>
      Bob
    </td>
  </tr>
  <tr style="background:#e8e8e8">
    <td>
      Carol
    </td>
  </tr>
  <tr>
    <td>
      David
    </td>
  </tr>
  <tr style="background:#e8e8e8">
    <td>
      Eve
    </td>
  </tr>
</table>