<table border="1">
  <tr>
    <td>
      employee
    </td>
    <td>
      manager
    </td>
    <td>
      boss
    </td>
  </tr>
  <tr>
    <td>
      Bondur, Gerard (1102)
    </td>
    <td>
      Patterson, Mary (1056)
    </td>
    <td>
      Murphy, Diane (1002)
    </td>
  </tr>
  <tr>
    <td>
      Bondur, Loui (1337)
    </td>
    <td>
      Bondur, Gerard (1102)
    </td>
    <td>
      Patterson, Mary (1056)
    </td>
  </tr>
  <tr>
    <td>
      Bott, Larry (1501)
    </td>
    <td>
      Bondur, Gerard (1102)
    </td>
    <td>
      Patterson, Mary (1056)
    </td>
  </tr>
  <tr>
    <td>
      Bow, Anthony (1143)
    </td>
    <td>
      Patterson, Mary (1056)
    </td>
    <td>
      Murphy, Diane (1002)
    </td>
  </tr>
  <tr>
    <td>
      Castillo, Pamela (1401)
    </td>
    <td>
      Bondur, Gerard (1102)
    </td>
    <td>
      Patterson, Mary (1056)
    </td>
  </tr>
  <tr>
    <td>
      Firrelli, Jeff (1076)
    </td>
    <td>
      Murphy, Diane (1002)
    </td>
    <td>
      , ()
    </td>
  </tr>
  <tr>
    <td>
      Firrelli, Julie (1188)
    </td>
    <td>
      Bow, Anthony (1143)
    </td>
    <td>
      Patterson, Mary (1056)
    </td>
  </tr>
  <tr>
    <td>
      Fixter, Andy (1611)
    </td>
    <td>
      Patterson, William (1088)
    </td>
    <td>
      Patterson, Mary (1056)
    </td>
  </tr>
  <tr>
    <td>
      Gerard, Martin (1702)
    </td>
    <td>
      Bondur, Gerard (1102)
    </td>
    <td>
      Patterson, Mary (1056)
    </td>
  </tr>
  <tr>
    <td>
      Hernandez, Gerard (1370)
    </td>
    <td>
      Bondur, Gerard (1102)
    </td>
    <td>
      Patterson, Mary (1056)
    </td>
  </tr>
  <tr>
    <td>
      Jennings, Leslie (1165)
    </td>
    <td>
      Bow, Anthony (1143)
    </td>
    <td>
      Patterson, Mary (1056)
    </td>
  </tr>
  <tr>
    <td>
      Jones, Barry (1504)
    </td>
    <td>
      Bondur, Gerard (1102)
    </td>
    <td>
      Patterson, Mary (1056)
    </td>
  </tr>
  <tr>
    <td>
      Kato, Yoshimi (1625)
    </td>
    <td>
      Nishi, Mami (1621)
    </td>
    <td>
      Patterson, Mary (1056)
    </td>
  </tr>
  <tr>
    <td>
      King, Tom (1619)
    </td>
    <td>
      Patterson, William (1088)
    </td>
    <td>
      Patterson, Mary (1056)
    </td>
  </tr>
  <tr>
    <td>
      Marsh, Peter (1612)
    </td>
    <td>
      Patterson, William (1088)
    </td>
    <td>
      Patterson, Mary (1056)
    </td>
  </tr>
  <tr>
    <td>
      Murphy, Diane (1002)
    </td>
    <td>
      , ()
    </td>
    <td>
      , ()
    </td>
  </tr>
  <tr>
    <td>
      Nishi, Mami (1621)
    </td>
    <td>
      Patterson, Mary (1056)
    </td>
    <td>
      Murphy, Diane (1002)
    </td>
  </tr>
  <tr>
    <td>
      Patterson, Mary (1056)
    </td>
    <td>
      Murphy, Diane (1002)
    </td>
    <td>
      , ()
    </td>
  </tr>
  <tr>
    <td>
      Patterson, Steve (1216)
    </td>
    <td>
      Bow, Anthony (1143)
    </td>
    <td>
      Patterson, Mary (1056)
    </td>
  </tr>
  <tr>
    <td>
      Patterson, William (1088)
    </td>
    <td>
      Patterson, Mary (1056)
    </td>
    <td>
      Murphy, Diane (1002)
    </td>
  </tr>
  <tr>
    <td>
      Thompson, Leslie (1166)
    </td>
    <td>
      Bow, Anthony (1143)
    </td>
    <td>
      Patterson, Mary (1056)
    </td>
  </tr>
  <tr>
    <td>
      Tseng, Foon Yue (1286)
    </td>
    <td>
      Bow, Anthony (1143)
    </td>
    <td>
      Patterson, Mary (1056)
    </td>
  </tr>
  <tr>
    <td>
      Vanauf, George (1323)
    </td>
    <td>
      Bow, Anthony (1143)
    </td>
    <td>
      Patterson, Mary (1056)
    </td>
  </tr>
</table>