<h3>
  array, found
</h3>
<table border="1">
  <tr>
    <td>
      bob
    </td>
    <td>
      555-3425
    </td>
  </tr>
  <tr>
    <td>
      jim
    </td>
    <td>
      555-4364
    </td>
  </tr>
  <tr>
    <td>
      joe
    </td>
    <td>
      555-3422
    </td>
  </tr>
  <tr>
    <td>
      jerry
    </td>
    <td>
      555-4973
    </td>
  </tr>
</table>
<h3>
  array, no records found
</h3>
<table border="1">
  <tr>
    <td>
      Nothing
    </td>
    <td>
      Found
    </td>
  </tr>
</table>