<h3>
  departments/departments
</h3>
<table border="1">
  <tr>
    <th>
      department
    </th>
    <th>
      manager
    </th>
    <th>
      phone
    </th>
  </tr>
  <tr>
    <td>
      IT
    </td>
    <td>
      Bob
    </td>
    <td>
      555-1111
    </td>
  </tr>
  <tr>
    <td>
      Kitchen
    </td>
    <td>
      Jim
    </td>
    <td>
      555-2222
    </td>
  </tr>
  <tr>
    <td>
      Helpdesk
    </td>
    <td>
      Joe
    </td>
    <td>
      555-3333
    </td>
  </tr>
  <tr>
    <td>
      Sales
    </td>
    <td>
      Steve
    </td>
    <td>
      555-4444
    </td>
  </tr>
  <tr>
    <td>
      Build
    </td>
    <td>
      Jerry
    </td>
    <td>
      555-8888
    </td>
  </tr>
</table>
<h3>
  departments/departments.php
</h3>
<table border="1">
  <tr>
    <th>
      department
    </th>
    <th>
      manager
    </th>
    <th>
      phone
    </th>
  </tr>
  <tr>
    <td>
      IT
    </td>
    <td>
      Bob
    </td>
    <td>
      555-1111
    </td>
  </tr>
  <tr>
    <td>
      Kitchen
    </td>
    <td>
      Jim
    </td>
    <td>
      555-2222
    </td>
  </tr>
  <tr>
    <td>
      Helpdesk
    </td>
    <td>
      Joe
    </td>
    <td>
      555-3333
    </td>
  </tr>
  <tr>
    <td>
      Sales
    </td>
    <td>
      Steve
    </td>
    <td>
      555-4444
    </td>
  </tr>
  <tr>
    <td>
      Build
    </td>
    <td>
      Jerry
    </td>
    <td>
      555-7777
    </td>
  </tr>
</table>
<h3>
  departments/departments.csv
</h3>
<table border="1">
  <tr>
    <th>
      department
    </th>
    <th>
      manager
    </th>
    <th>
      phone
    </th>
  </tr>
  <tr>
    <td>
      IT
    </td>
    <td>
      Bob
    </td>
    <td>
      555-1111
    </td>
  </tr>
  <tr>
    <td>
      Kitchen
    </td>
    <td>
      Jim
    </td>
    <td>
      555-2222
    </td>
  </tr>
  <tr>
    <td>
      Helpdesk
    </td>
    <td>
      Joe
    </td>
    <td>
      555-3333
    </td>
  </tr>
  <tr>
    <td>
      Sales
    </td>
    <td>
      Steve
    </td>
    <td>
      555-4444
    </td>
  </tr>
  <tr>
    <td>
      Build
    </td>
    <td>
      Jerry
    </td>
    <td>
      555-5555
    </td>
  </tr>
</table>
<h3>
  departments/departments.xml
</h3>
<table border="1">
  <tr>
    <th>
      department
    </th>
    <th>
      manager
    </th>
    <th>
      phone
    </th>
  </tr>
  <tr>
    <td>
      IT
    </td>
    <td>
      Bob
    </td>
    <td>
      555-1111
    </td>
  </tr>
  <tr>
    <td>
      Kitchen
    </td>
    <td>
      Jim
    </td>
    <td>
      555-2222
    </td>
  </tr>
  <tr>
    <td>
      Helpdesk
    </td>
    <td>
      Joe
    </td>
    <td>
      555-3333
    </td>
  </tr>
  <tr>
    <td>
      Sales
    </td>
    <td>
      Steve
    </td>
    <td>
      555-4444
    </td>
  </tr>
  <tr>
    <td>
      Build
    </td>
    <td>
      Jerry
    </td>
    <td>
      555-8888
    </td>
  </tr>
</table>
<h3>
  departments/departments.json
</h3>
<table border="1">
  <tr>
    <th>
      department
    </th>
    <th>
      manager
    </th>
    <th>
      phone
    </th>
  </tr>
  <tr>
    <td>
      IT
    </td>
    <td>
      Bob
    </td>
    <td>
      555-1111
    </td>
  </tr>
  <tr>
    <td>
      Kitchen
    </td>
    <td>
      Jim
    </td>
    <td>
      555-2222
    </td>
  </tr>
  <tr>
    <td>
      Helpdesk
    </td>
    <td>
      Joe
    </td>
    <td>
      555-3333
    </td>
  </tr>
  <tr>
    <td>
      Sales
    </td>
    <td>
      Steve
    </td>
    <td>
      555-4444
    </td>
  </tr>
  <tr>
    <td>
      Build
    </td>
    <td>
      Jerry
    </td>
    <td>
      555-6666
    </td>
  </tr>
</table>
<h3>
  departments/departments.yaml
</h3>
<table border="1">
  <tr>
    <th>
      department
    </th>
    <th>
      manager
    </th>
    <th>
      phone
    </th>
  </tr>
  <tr>
    <td>
      IT
    </td>
    <td>
      Bob
    </td>
    <td>
      555-1111
    </td>
  </tr>
  <tr>
    <td>
      Kitchen
    </td>
    <td>
      Jim
    </td>
    <td>
      555-2222
    </td>
  </tr>
  <tr>
    <td>
      Helpdesk
    </td>
    <td>
      Joe
    </td>
    <td>
      555-3333
    </td>
  </tr>
  <tr>
    <td>
      Sales
    </td>
    <td>
      Steve
    </td>
    <td>
      555-4444
    </td>
  </tr>
  <tr>
    <td>
      Build
    </td>
    <td>
      Jerry
    </td>
    <td>
      555-9999
    </td>
  </tr>
</table>