<p></p>
<table border="1" cellpadding="10" cellspacing="0">
  <tr>
    <th bgcolor="#DDDDDD">
      HTML
    </th>
    <th bgcolor="#DDDDDD">
      RESULT
    </th>
  </tr>
  <tr>
    <td style="vertical-align:top">
      <!-- START DEMO SOURCE -->
      <pre><code style="color: #000000"><b>{<font color="blue">sequence </font><font color="red"><font color="black">'</font>25..100<font color="black">'</font><font color="black">,</font> name=<font color="black">'</font>myRange<font color="black">'</font></font>}</b></code></pre><!-- END DEMO SOURCE -->
    </td>
    <td style="vertical-align:top">
      <code><span style="color: #000000"><!-- START DEMO RESULT --><!-- END DEMO RESULT --></span></code>
    </td>
  </tr>
  <tr>
    <td style="vertical-align:top">
      <!-- START DEMO SOURCE -->
      <pre><code style="color: #000000"><b>{<font color="green"><font color="red">$</font>myRange.&lt;</font>}</b> &lt;br&gt; <br><b>{<font color="green"><font color="red">$</font>myRange.&lt;1</font>}</b> &lt;br&gt; <br><b>{<font color="green"><font color="red">$</font>myRange.&lt;2</font>}</b> &lt;br&gt; <br><b>{<font color="green"><font color="red">$</font>myRange.&lt;3</font>}</b> &lt;br&gt;</code></pre><!-- END DEMO SOURCE -->
    </td>
    <td style="vertical-align:top">
      <code><span style="color: #000000"><!-- START DEMO RESULT -->25<br>
      25<br>
      26<br>
      27<br>
      <!-- END DEMO RESULT --></span></code>
    </td>
  </tr>
  <tr>
    <td style="vertical-align:top">
      <!-- START DEMO SOURCE -->
      <pre><code style="color: #000000"><b>{<font color="green"><font color="red">$</font>myRange.&gt;</font>}</b> &lt;br&gt; <br><b>{<font color="green"><font color="red">$</font>myRange.&gt;1</font>}</b> &lt;br&gt; <br><b>{<font color="green"><font color="red">$</font>myRange.&gt;2</font>}</b> &lt;br&gt; <br><b>{<font color="green"><font color="red">$</font>myRange.&gt;3</font>}</b> &lt;br&gt;</code></pre><!-- END DEMO SOURCE -->
    </td>
    <td style="vertical-align:top">
      <code><span style="color: #000000"><!-- START DEMO RESULT -->100<br>
      100<br>
      99<br>
      98<br>
      <!-- END DEMO RESULT --></span></code>
    </td>
  </tr>
  <tr>
    <td style="vertical-align:top">
      <!-- START DEMO SOURCE -->
      <pre><code style="color: #000000"><b>{<font color="green"><font color="red">$</font>myRange.&lt;3</font>}</b>          &lt;br&gt; <br><b>{<font color="green"><font color="red">$</font>&lt;3<font color="red"></font><b><font color="red">@</font></b><font color="purple"></font>myRange</font>}</b>          &lt;br&gt; <br><b>{<font color="green"><font color="red">$</font>myRange.&lt;3<font color="red"></font><b><font color="red">@</font></b><font color="purple"></font>sequence</font>}</b> &lt;br&gt; <br><b>{<font color="green"><font color="red">$</font>&lt;3<font color="red"></font><b><font color="red">@</font></b><font color="purple"></font>sequence<font color="black">:</font>myRange</font>}</b> &lt;br&gt;</code></pre><!-- END DEMO SOURCE -->
    </td>
    <td style="vertical-align:top">
      <code><span style="color: #000000"><!-- START DEMO RESULT -->27<br>
      27<br>
      27<br>
      27<br>
      <!-- END DEMO RESULT --></span></code>
    </td>
  </tr>
</table>
<p></p>