<p></p>
<table border="1" cellpadding="10" cellspacing="0">
  <tr>
    <th bgcolor="#DDDDDD">
      HTML
    </th>
    <th bgcolor="#DDDDDD">
      RESULT
    </th>
  </tr>
  <tr>
    <td style="vertical-align:top">
      <!-- START DEMO SOURCE -->
      <pre><code style="color: #000000">111<br>113<br>&lt;br&gt;<br><b>{<font color="green"><font color="red">$</font>a.b.1.c.1.&lt;</font>}</b><br><b>{<font color="green"><font color="red">$</font>a.b.1.c.1.&gt;</font>}</b></code></pre><!-- END DEMO SOURCE -->
    </td>
    <td style="vertical-align:top">
      <code><span style="color: #000000"><!-- START DEMO RESULT -->111 113<br>
      111 113<!-- END DEMO RESULT --></span></code>
    </td>
  </tr>
  <tr>
    <td style="vertical-align:top">
      <!-- START DEMO SOURCE -->
      <pre><code style="color: #000000">111<br>113<br>&lt;br&gt;<br><b>{<font color="green"><font color="red">$</font>a.b.&lt;.c.&lt;.&lt;</font>}</b><br><b>{<font color="green"><font color="red">$</font>a.b.&lt;.c.&lt;.&gt;</font>}</b></code></pre><!-- END DEMO SOURCE -->
    </td>
    <td style="vertical-align:top">
      <code><span style="color: #000000"><!-- START DEMO RESULT -->111 113<br>
      111 113<!-- END DEMO RESULT --></span></code>
    </td>
  </tr>
  <tr>
    <td style="vertical-align:top">
      <!-- START DEMO SOURCE -->
      <pre><code style="color: #000000">331<br>333<br>&lt;br&gt;<br><b>{<font color="green"><font color="red">$</font>a.b.&gt;.c.&gt;.&lt;</font>}</b><br><b>{<font color="green"><font color="red">$</font>a.b.&gt;.c.&gt;.&gt;</font>}</b></code></pre><!-- END DEMO SOURCE -->
    </td>
    <td style="vertical-align:top">
      <code><span style="color: #000000"><!-- START DEMO RESULT -->331 333<br>
      331 333<!-- END DEMO RESULT --></span></code>
    </td>
  </tr>
</table>
<p></p>