<p>The <code>close</code> function outputs a literal closing brace <code>}</code>.</p>

<h2>Basic Usage</h2>
<pre>{close}</pre>
<p>Result: <b>}</b></p>

<h2>Document Closing Tags</h2>
<pre>{open}/if{close}</pre>
<p>Shows: <b>{/if}</b></p>

<pre>{open}/users{close}</pre>
<p>Shows: <b>{/users}</b></p>

<h2>Complete Tag Documentation</h2>
<pre>{open}if $x gt 0{close}
  positive
{open}/if{close}</pre>
<p>Shows:</p>
<code>{if $x gt 0}<br>
&nbsp;&nbsp;positive<br>
{/if}</code>

<h2>Note</h2>
<p>Always use <code>open</code> and <code>close</code> together when documenting PAD syntax. They escape the braces so PAD displays them literally instead of parsing them.</p>