<p>
  The <code>date</code> function formats a timestamp using PHP date format.
</p>
<h2>
  Basic Usage
</h2>
<pre>{echo {now} | date('Y-m-d')}</pre>
<p>
  Today: <b>2025-12-17</b>
</p>
<h2>
  Common Formats
</h2>
<pre>{echo {now} | date('d/m/Y')}</pre>
<p>
  European: <b>17/12/2025</b>
</p>
<pre>{echo {now} | date('M j, Y')}</pre>
<p>
  Readable: <b>Dec 17, 2025</b>
</p>
<pre>{echo {now} | date('l')}</pre>
<p>
  Day name: <b>Wednesday</b>
</p>
<h2>
  With Time
</h2>
<pre>{echo {now} | date('Y-m-d H:i:s')}</pre>
<p>
  Full: <b>2025-12-17 06:01:33</b>
</p>
<h2>
  With Offset
</h2>
<pre>{echo {now} | date('Y-m-d', '+1 week')}</pre>
<p>
  Next week: <b>2025-12-24</b>
</p>
<pre>{echo {now} | date('Y-m-d', '-1 month')}</pre>
<p>
  Last month: <b>2025-11-17</b>
</p>
<h2>
  Format Codes
</h2>
<ul>
  <li>
    <code>Y</code> - 4-digit year
  </li>
  <li>
    <code>m</code> - Month (01-12)
  </li>
  <li>
    <code>d</code> - Day (01-31)
  </li>
  <li>
    <code>H</code> - Hour (00-23)
  </li>
  <li>
    <code>i</code> - Minutes (00-59)
  </li>
  <li>
    <code>s</code> - Seconds (00-59)
  </li>
  <li>
    <code>l</code> - Full day name
  </li>
  <li>
    <code>F</code> - Full month name
  </li>
</ul>