<p>
  The <code>open</code> function outputs a literal opening brace <code>{</code>.
</p>
<h2>
  Basic Usage
</h2>
<pre>{open}</pre>
<p>
  Result: <b>{</b>
</p>
<h2>
  Document PAD Syntax
</h2>
<pre>{open}if $x gt 0{close}</pre>
<p>
  Shows: <b>{if $x gt 0}</b>
</p>
<h2>
  Show Variable Syntax
</h2>
<pre>{open}$username{close}</pre>
<p>
  Shows: <b>{$username}</b>
</p>
<h2>
  Show Pipe Syntax
</h2>
<pre>{open}$name | upper{close}</pre>
<p>
  Shows: <b>{$name | upper}</b>
</p>
<h2>
  Complete Example
</h2>
<pre>{open}users{close}
  {open}$name{close}
{open}/users{close}</pre>
<p>
  Shows:
</p><code>{users}<br>
&nbsp;&nbsp;{$name}<br>
{/users}</code>
<h2>
  Note
</h2>
<p>
  Use with <code>close</code> to display PAD syntax literally instead of executing it.
</p>