<table border="1">
  <tr>
    <td>
      495
    </td>
    <td>
      Diecast Collectables
    </td>
    <td>
      10207
    </td>
    <td>
      2003-12-09
    </td>
    <td>
      1
    </td>
    <td>
      1970 Triumph Spitfire
    </td>
    <td>
      Classic Cars
    </td>
  </tr>
  <tr>
    <td>
      495
    </td>
    <td>
      Diecast Collectables
    </td>
    <td>
      10207
    </td>
    <td>
      2003-12-09
    </td>
    <td>
      2
    </td>
    <td>
      1950's Chicago Surface Lines Streetcar
    </td>
    <td>
      Trains
    </td>
  </tr>
  <tr>
    <td>
      495
    </td>
    <td>
      Diecast Collectables
    </td>
    <td>
      10207
    </td>
    <td>
      2003-12-09
    </td>
    <td>
      3
    </td>
    <td>
      1992 Porsche Cayenne Turbo Silver
    </td>
    <td>
      Classic Cars
    </td>
  </tr>
  <tr>
    <td>
      495
    </td>
    <td>
      Diecast Collectables
    </td>
    <td>
      10207
    </td>
    <td>
      2003-12-09
    </td>
    <td>
      4
    </td>
    <td>
      1970 Dodge Coronet
    </td>
    <td>
      Classic Cars
    </td>
  </tr>
  <tr>
    <td>
      495
    </td>
    <td>
      Diecast Collectables
    </td>
    <td>
      10207
    </td>
    <td>
      2003-12-09
    </td>
    <td>
      5
    </td>
    <td>
      Diamond T620 Semi-Skirted Tanker
    </td>
    <td>
      Trucks and Buses
    </td>
  </tr>
  <tr>
    <td>
      495
    </td>
    <td>
      Diecast Collectables
    </td>
    <td>
      10207
    </td>
    <td>
      2003-12-09
    </td>
    <td>
      6
    </td>
    <td>
      1998 Chrysler Plymouth Prowler
    </td>
    <td>
      Classic Cars
    </td>
  </tr>
  <tr>
    <td>
      495
    </td>
    <td>
      Diecast Collectables
    </td>
    <td>
      10207
    </td>
    <td>
      2003-12-09
    </td>
    <td>
      7
    </td>
    <td>
      1957 Chevy Pickup
    </td>
    <td>
      Trucks and Buses
    </td>
  </tr>
  <tr>
    <td>
      495
    </td>
    <td>
      Diecast Collectables
    </td>
    <td>
      10207
    </td>
    <td>
      2003-12-09
    </td>
    <td>
      8
    </td>
    <td>
      1958 Chevy Corvette Limited Edition
    </td>
    <td>
      Classic Cars
    </td>
  </tr>
  <tr>
    <td>
      495
    </td>
    <td>
      Diecast Collectables
    </td>
    <td>
      10207
    </td>
    <td>
      2003-12-09
    </td>
    <td>
      9
    </td>
    <td>
      1954 Greyhound Scenicruiser
    </td>
    <td>
      Trucks and Buses
    </td>
  </tr>
  <tr>
    <td>
      495
    </td>
    <td>
      Diecast Collectables
    </td>
    <td>
      10207
    </td>
    <td>
      2003-12-09
    </td>
    <td>
      10
    </td>
    <td>
      1964 Mercedes Tour Bus
    </td>
    <td>
      Trucks and Buses
    </td>
  </tr>
  <tr>
    <td>
      495
    </td>
    <td>
      Diecast Collectables
    </td>
    <td>
      10207
    </td>
    <td>
      2003-12-09
    </td>
    <td>
      11
    </td>
    <td>
      1992 Ferrari 360 Spider red
    </td>
    <td>
      Classic Cars
    </td>
  </tr>
  <tr>
    <td>
      495
    </td>
    <td>
      Diecast Collectables
    </td>
    <td>
      10207
    </td>
    <td>
      2003-12-09
    </td>
    <td>
      12
    </td>
    <td>
      1962 Volkswagen Microbus
    </td>
    <td>
      Trucks and Buses
    </td>
  </tr>
  <tr>
    <td>
      495
    </td>
    <td>
      Diecast Collectables
    </td>
    <td>
      10207
    </td>
    <td>
      2003-12-09
    </td>
    <td>
      13
    </td>
    <td>
      1926 Ford Fire Engine
    </td>
    <td>
      Trucks and Buses
    </td>
  </tr>
  <tr>
    <td>
      495
    </td>
    <td>
      Diecast Collectables
    </td>
    <td>
      10207
    </td>
    <td>
      2003-12-09
    </td>
    <td>
      14
    </td>
    <td>
      1980’s GM Manhattan Express
    </td>
    <td>
      Trucks and Buses
    </td>
  </tr>
  <tr>
    <td>
      495
    </td>
    <td>
      Diecast Collectables
    </td>
    <td>
      10207
    </td>
    <td>
      2003-12-09
    </td>
    <td>
      15
    </td>
    <td>
      1962 LanciaA Delta 16V
    </td>
    <td>
      Classic Cars
    </td>
  </tr>
  <tr>
    <td>
      495
    </td>
    <td>
      Diecast Collectables
    </td>
    <td>
      10207
    </td>
    <td>
      2003-12-09
    </td>
    <td>
      16
    </td>
    <td>
      1940s Ford truck
    </td>
    <td>
      Trucks and Buses
    </td>
  </tr>
  <tr>
    <td>
      495
    </td>
    <td>
      Diecast Collectables
    </td>
    <td>
      10243
    </td>
    <td>
      2004-04-26
    </td>
    <td>
      1
    </td>
    <td>
      1939 Chevrolet Deluxe Coupe
    </td>
    <td>
      Vintage Cars
    </td>
  </tr>
  <tr>
    <td>
      495
    </td>
    <td>
      Diecast Collectables
    </td>
    <td>
      10243
    </td>
    <td>
      2004-04-26
    </td>
    <td>
      2
    </td>
    <td>
      1932 Model A Ford J-Coupe
    </td>
    <td>
      Vintage Cars
    </td>
  </tr>
</table>