<p>
  The <code>time</code> function formats a timestamp as time only.
</p>
<h2>
  Basic Usage
</h2>
<pre>{echo {now} | time}</pre>
<p>
  Current time: <b>2025-12-20</b>
</p>
<h2>
  Custom Format
</h2>
<pre>{echo {now} | time('H:i')}</pre>
<p>
  24-hour: <b>13:22</b>
</p>
<pre>{echo {now} | time('h:i A')}</pre>
<p>
  12-hour: <b>01:22 PM</b>
</p>
<h2>
  With Seconds
</h2>
<pre>{echo {now} | time('H:i:s')}</pre>
<p>
  With seconds: <b>13:22:18</b>
</p>
<h2>
  Chained Examples
</h2>
<pre>{echo {now} | time('H:i') | bold}</pre>
<p>
  Bold time: <b>13:22</b>
</p>
<h2>
  Note
</h2>
<p>
  Shortcut for time-only formatting. Use <code>date</code> for full date-time formatting.
</p>