<h3>
  code
</h3>
<table border="1">
  <tr>
    <td></td>
    <td>
      set
    </td>
    <td>
      increment
    </td>
  </tr>
  <tr>
    <td>
      base
    </td>
    <td>
      1 2 3 4 5 6 7 8 9 9 9 9 9 9 9 9 9
    </td>
    <td>
      10 11 12 13 14 15 16 17 18 18 18 18 18 18 18 18 18
    </td>
  </tr>
  <tr>
    <td>
      reset
    </td>
    <td>
      1 2 3 4 5 6 7 8 9 8 7 6 5 4 3 2 1
    </td>
    <td>
      2 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2
    </td>
  </tr>
  <tr>
    <td>
      clean
    </td>
    <td>
      1 2 3 4 5 6 7 8 9 8 7 6 5 4 3 2 1
    </td>
    <td>
      2 3 4 5 6 7 8 9 10 9 8 7 6 5 4 3 2
    </td>
  </tr>
  <tr>
    <td>
      sandbox
    </td>
    <td>
      1 2 3 4 5 6 7 8 9 8 7 6 5 4 3 2 1
    </td>
    <td>
      2 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2
    </td>
  </tr>
</table>
<h3>
  page
</h3>
<table border="1">
  <tr>
    <td></td>
    <td>
      set
    </td>
    <td>
      increment
    </td>
  </tr>
  <tr>
    <td>
      base
    </td>
    <td>
      0 1 2 3 4 5 6 7 8 9 9 9 9 9 9 9 9 9 9
    </td>
    <td>
      0 1 2 3 4 5 6 7 8 9 9 9 9 9 9 9 9 9 9
    </td>
  </tr>
  <tr>
    <td>
      reset
    </td>
    <td>
      0 1 2 3 4 5 6 7 8 9 8 7 6 5 4 3 2 1 0
    </td>
    <td>
      0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0
    </td>
  </tr>
  <tr>
    <td>
      clean
    </td>
    <td>
      0 1 2 3 4 5 6 7 8 9 8 7 6 5 4 3 2 1 0
    </td>
    <td>
      0 1 2 3 4 5 6 7 8 9 8 7 6 5 4 3 2 1 0
    </td>
  </tr>
  <tr>
    <td>
      sandbox
    </td>
    <td>
      0 1 2 3 4 5 6 7 8 9 8 7 6 5 4 3 2 1 0
    </td>
    <td>
      0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0
    </td>
  </tr>
</table>
<h3>
  combi
</h3>
<table border="1">
  <tr>
    <td>
      combi1
    </td>
    <td>
      1 2 3 4 5 6 7 8 9 9 9 9 9 9 9 9 9
    </td>
  </tr>
  <tr>
    <td>
      combi2
    </td>
    <td>
      1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
    </td>
  </tr>
  <tr>
    <td>
      combi3
    </td>
    <td>
      1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
    </td>
  </tr>
</table>
<h3>
  nested
</h3>1 2 3 4 5 6 7 8 9 10 11 12 13 12 11 10 9 8 7 6 5 4 3 2 1
<h3>
  hello
</h3>
<h4>
  page
</h4>
<h3>
  <font color="pink">Hello World !</font>
</h3>
<h3>
  <font color="orange">Hello World !</font>
</h3>
<h3>
  <font color="brown">Hello World !</font>
</h3>
<h3>
  <font color="purple">Hello World !</font>
</h3>
<h3>
  <font color="green">Hello World !</font>
</h3>
<h3>
  <font color="blue">Hello World !</font>
</h3>
<h3>
  <font color="yellow">Hello World !</font>
</h3>
<h3>
  <font color="red">Hello World !</font>
</h3>
<h4>
  code
</h4>
<h3>
  <font color="pink">Hello world !</font>
</h3>
<h3>
  <font color="orange">Hello world !</font>
</h3>
<h3>
  <font color="brown">Hello world !</font>
</h3>
<h3>
  <font color="purple">Hello world !</font>
</h3>
<h3>
  <font color="green">Hello world !</font>
</h3>
<h3>
  <font color="blue">Hello world !</font>
</h3>
<h3>
  <font color="yellow">Hello world !</font>
</h3>
<h3>
  <font color="red">Hello world !</font>
</h3>