<p>
  In the _data directory there is the file staff.xml, it is often used in this manual.
</p>
<p>
  {sssource '_data/staf.xml'}
</p>
<p>
  Files placed in the _data directory can be used as a PAD tag.
</p>
<table border="1">
  <tr>
    <td>
      joe
    </td>
    <td>
      555-1111
    </td>
  </tr>
  <tr>
    <td>
      jim
    </td>
    <td>
      555-2222
    </td>
  </tr>
  <tr>
    <td>
      john
    </td>
    <td>
      555-3333
    </td>
  </tr>
  <tr>
    <td>
      jack
    </td>
    <td>
      555-4444
    </td>
  </tr>
  <tr>
    <td>
      jerry
    </td>
    <td>
      555-5555
    </td>
  </tr>
</table>